<div class="DailyPg">
{{> header }}
<a href="/" class="homeButn">Home</a> 
<a href="/logout" class="logOutBut">logout</a>
<table class="dailyTable">
    
    <tr class="dailyForm">
        <td>
            <form action="/insertDD" method="post">
            Last time {{dogname}} peed?  <input type="text" name="whenPeed" id="">
            Last time {{dogname}} pooped?  <input type="text" name="whenPooped" id="">
            Last time {{dogname}} ate? <input type="text" name="whenAte" id="">
            Last walk for {{dogname}}?<input type="text" name="whenWalk" id="">
            Other info: <input type="text" name="otherInfo" id="">
            <input type="hidden" name="user_id" value="{{id}}">
            <input type="submit" value="Submit bitch">
            </form>
        </td>
    </tr>
    {{#each doggos}}
    <tr class="dailyDoggos">
        <td> Pepi:{{pepi}} </td> 
       <td> Poop: {{poop}} </td>
       <td>eat: {{eat}}</td>
       <td>walk: {{walk}}</td>
       <td>other: {{other}}</td>
       
    </tr>
    {{/each}}
</table>
</div>